/* .top-view {
  background-image: url("/images/top.jpg");
} */

.card-text {
  text-decoration: none;
}

.box3 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #faf7f3;/*背景色*/
}
.box3 p {
  margin: 0; 
  padding: 0;
}



.box25{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}
.box25:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p {
  margin: 0; 
  padding: 0;
}


.top-contents {
  color: black;
}

