.inner {
  width: 1024px;
  margin: 0 auto;
}

.prototype__wrapper{
  min-height: calc(100vh - 161px);
}

.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}

.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.detail__title{
  font-size: 20px;
  font-weight: bold;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}


.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}


.content-top {
  background-image: url(images/coffee.jpg);
  background-size:  cover;
  background-position:bottom;  
  height:350px;
  position: relative;
}

.content-text {
  position: absolute;
  top:35px;
  left:230px;
  font-size: 40px;
  /* color: #6594e0;
  border-bottom: dashed 2px #6594e0; */
  /* border-bottom: double 5px #FFC778; */
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}