<div class ="container">
  <div class ="row">
    <%= month_calendar events: @walks do |date,walks| %>
      <%= date.day %>  
      <% walks.each do |walk| %>
        <div>
          <%= walk.content %>
        </div>
      <% end %>
     <% end %>
  </div>
</div>
<div class="container my-5" id="skill">
  <div class="row row-cols-1 row-cols-md-3">
    <%= render partial: 'walks/walk', collection:  @user.walks %>
  </div>
</div>