<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <div class="container-fluid">
    <%= link_to  root_path, class: "navbar-brand fs-3" do%>
      <i class="fas fa-walking"></i>MorningWalk
    <% end %>

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <form class="d-flex">
        <button class="btn btn-outline-success me-3"  type="submit">ログイン</button>
        <button class="btn btn-outline-success" type="submit">ログイン</button>
      </form>
      </div>
</nav>
