<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Album example · Bootstrap v5.0</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <main>
    
    <div class ="top-view">
      <section class="py-5 text-left container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">朝散歩から1日を。</h1>
            <p class="lead text-muted">散歩でみんなと繋がろう</p>
            <p>
              <%= link_to "散歩したらクリック",new_walk_path, class: "btn btn-primary my-2"%>
            </p>
          </div>
        </div>

      </section>
    </div>
    <!-- カード -->
        <div class="container my-5 bg-white" id="skill">
          <h2 class= "py-4 text-dark">みんなの散歩記録</h2>
          <div class="row row-cols-md-3 ">
         <% @walks.each do |walk|%> 
            <div id="walk_<%= walk.id %>">
              <%= render 'walk', walk: walk %>
            </div>
          <% end %>
          </div>
      </div>
    </main>
  </body>
</html>
