<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    

<main>
<div class ="top-view">
  <section class="py-5 text-left container">
    <div class="row py-lg-5">
    
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">朝散歩から1日を。</h1>
        <p class="lead text-muted">散歩でみんなと繋がろう</p>
        <p>
          <a href="#" class="btn btn-primary my-2">今日の朝散歩</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>

  </section>
</div>
 <!-- カード -->
    <div class="container my-5" id="skill">
      <h2 class= "py-4 text-dark">みんなの散歩記録</h2>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card">
            <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" class="card-img-top px-3 mb-3" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sample</h5>
              <p class="card-text">SampleSampleSampleSampleSampleSampleSampleSampleSampleSample</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" class="card-img-top px-3 mb-3" alt="...">
            <div class="card-body">
              <h5 class="card-title">日時：2021/2/21</h5>
              <p class="card-text">散歩時間：30分</p>
              <p class="card-text">体調：最高</p>
              <p class="card-text">今日の一言：今日もよく歩いた</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" class="card-img-top px-3 mb-3" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sample</h5>
              <p class="card-text">SampleSampleSampleSampleSampleSampleSampleSampleSampleSample</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" class="card-img-top px-3 mb-3" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sample</h5>
              <p class="card-text">SampleSampleSampleSampleSampleSampleSampleSampleSampleSample</p>
            </div>
          </div>
        </div>
      </div>
  </div>

</main>



    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
