<div class="container" style="background: linear-gradient(45deg, red, black);">
       <div class ="row">
              <h2 class="page-heading mt-5 text-center" >今日の散歩記録</h2>
       </div>
</div>

<div class="container">
       <%= render "form"%>
</div>



  
  