<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">今日の散歩記録</h2>
        <%= render "form"%>
    </div>
  </div>
</div>


<h1 class="title">
  <span>T</span>
  <span>E</span>
  <span>X</span>
  <span>T</span>
  <span>&nbsp;</span>
  <span>A</span>
  <span>N</span>
  <span>I</span>
  <span>M</span>
  <span>A</span>
  <span>T</span>
  <span>I</span>
  <span>O</span>
  <span>N</span>
</h1>
  
  
  