<div class="container">
<h2 class="page-heading mt-5 text-center">今日の散歩記録</h2>
<div class="card" style="width: 50rem; height: 30rem;">
  <div class="row">
    
      
        <%= render "form"%>
    </div>
  </div>
</div>



  
  