.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    background-color: #FFFFC0;
  }
}

.time {
  display: none;
}

.box18{
  margin:2em 0;
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px #ffcb8a;
  border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 2px #ffcb8a;
  border-radius: 50%;
}
.box18:after {
  top:-12px;
  left:-12px;
}
.box18:before {
  bottom:-12px;
  right:-12px;
}
.box18 p {
  margin: 0; 
  padding: 0;
}

.heading_box{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: white;
  background: #ffcb8a;/*背景色*/
}
.heading_box p {
  margin: 0; 
  padding: 0;
}

.top-view {
  background-image: url(images/coffee.jpg);
  background-size:  cover;
      
  background-position:bottom;  
  height:300px;
}